body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    height: 100vh;
    margin: 0;
    text-align: center;
    align-self: center;
    align-content: center;
}
h1 {
    color: #e63946;
}
form {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #f1a661;
}
#resultado {
    font-size: 18px;
    font-weight: bold;
    color: #2d6a4f;
    margin-top: 15px;
}