* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'American Typewriter', serif; 
}

/*cuerpo de la pagina*/
body {
    background-image: url('fondo_formulario.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'American Typewriter', serif; 
}

.container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/*encabezado del formulario*/
.form-header h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

/*estilo del logo*/
.logo {
    width: 80px;
    display: block;
    margin: 0 auto 10px auto; 
}

/*etiquetas de los campos*/
.registration-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

/*campos de entrada*/
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/*mensajes de error*/
.registration-form .error {
    display: block;
    font-size: 12px;
    color: #2db6b6;
    margin-bottom: 10px;
}

/*boton de enviar*/
.submit-button {
    background-color: #69f3dc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

/* hover del boton de enviar*/
.submit-button:hover {
    background-color:#34d4ba;
}