
.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  font-size: 16px;
}

.animal-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.column {
  text-align: center;
}

.column h2 {
  font-size: 24px;
  color: #728291;
}

.animal-card {
  margin-bottom: 20px;
}
