$primary-color: #3498db;
$hover-color: darken($primary-color, 10%);

.navbar {
    background-color: $primary-color;

    .nav-link {
        color: $primary-color;
        transition: color 0.3s ease;

        &:hover {
            color: $hover-color;
        }
    }

    .navbar-brand {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .navbar-collapse {
        transition: max-height 0.5s ease;
    
        &.collapsing {
            max-height: 0;
        }
    
        &.collapse.show {
            max-height: 500px;
        }
    }
}