/* Estilos generales para toda la aplicación */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Contenedor principal */
.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de los encabezados */
h1 {
  color: #333;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo de los links */
a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Estilos para el contenido de las páginas */
.page-content {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-top: 20px;
}

/* Navegación */
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav a {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

nav a:hover {
  background-color: #0056b3;
}
