.container {
    width: 960px;
}


.print-section {
    margin: 2cm;
}


.text-small {
    font-size: 12pt;
}


.heading {
    font-size: 2em;
}


.body-text {
    margin-top: 1.5rem;
}


.full-width {
    width: 100vw;
}


.full-height {
    height: 100vh;
}


.image-container {
    width: 50%;
    height: auto;
}
