body {
    font-family: Arial, sans-serif;
}

.header {
    background-image: url("fondo.png");
    height: 600px;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

